apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: executor
  namespace: playground
rules:
  - apiGroups:
      - argoproj.io
    resources:
      - workflowtaskresults
      - workflowtasksets
      - workflowtasksets/status
    verbs:
      - patch
      - create
      - watch

  - apiGroups:
      - batch
    resources:
      - jobs
    verbs:
      - create
      - get
      - list
      - watch
      - delete

  - apiGroups:
      - ""
    resources:
      - pods
      - pods/log
    verbs:
      - get
      - list
      - watch
      - delete

  - apiGroups:
      - "sparkoperator.k8s.io"
    resources:
      - sparkapplications
    verbs:
      - '*'
